/* Style général du body */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #9ec7ae, #6bd4ca);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

/* Conteneur du logo */
.logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px; /* Espacement supérieur */
    margin-bottom: 30px; /* Marge sous le logo */
    
}

/* Style du logo */
.logo {
    max-width: 200px;  /* Ajustez la taille du logo comme souhaité */
    height: auto;
    border-radius: 30%;
}

/* Conteneur central avec deux sections */
.container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    justify-content: space-between;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Partie gauche */
.left-section {
    width: 45%;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    background: linear-gradient(135deg, #cce3c2, #62aa9c);
}

.left-section h1 {
    color: #ffffff;
    font-size: 32px;
    margin-bottom: 20px;
}

.left-section p {
    color: #fdfdfd;
    font-size: 18px;
    margin-bottom: 30px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Boutons avec effet */
button {
    background-color: #90bc66;
    color: white;
    border: none;
    padding: 15px 30px;
    margin: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #637561;
    transform: scale(1.05);
}

/* Partie droite avec fond stylé */
.right-section {
    width: 45%;
    padding: 30px;
    background-color: #f0f4f7;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.right-section .info-box {
    display: none;
    background-color: #ffffff;
    padding: 20px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease;
}

.info-box p {
    color: #333;
    font-size: 18px;
}

/* Animations et transitions
button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
} */

h1 {
    font-size: 36px;
    color: #fff;
    margin-bottom: 20px;
}

/* Style général des informations */
.info-box {
    background: #ffffff;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    transition: transform 0.3s ease;
}
